<div class="container">
  <h2>Add Employee</h2>
  <div class="mat-elevation-z8">
    <div class="employee__form">
      <form [formGroup]="employeeFormGroup">
       <div class="row">
        <div class="form__field col-6">
          <label style="margin-bottom:0.5rem">Name<sup>*</sup></label>
          <mat-form-field appearance="outline">   
            <input matInput placeholder="Placeholder" required>
          </mat-form-field>
        </div>
       </div>
       <div class="row">
        <div class="form__field col-6">
          <label style="margin-bottom:0.5rem">Email<sup>*</sup></label>
          <mat-form-field appearance="outline">   
            <input matInput placeholder="Placeholder" required>
          </mat-form-field>
        </div>
       </div>
        <div class="row">
          <div class="form__field col-4">
            <label style="margin-bottom:0.5rem">Salary<sup>*</sup></label>
            <mat-form-field appearance="outline">   
              <input matInput placeholder="Placeholder" required>
            </mat-form-field>
          </div>
          <div class="form__field col-4">
            <label style="margin-bottom:0.5rem">Email<sup>*</sup></label>
            <mat-form-field appearance="outline">   
              <input matInput placeholder="Placeholder" required>
            </mat-form-field>
          </div>
          <div class="form__field col-4">
            <label style="margin-bottom:0.5rem">Name<sup>*</sup></label>
            <mat-form-field appearance="outline">   
              <input matInput placeholder="Placeholder" required>
            </mat-form-field>
          </div>
        </div>
        
     
      </form>
    </div>
  </div>
</div>

